<li>
	{{title}}

	<button class="change-read" data-id="{{id}}" data-newread="{{read}}">
		{{#if read}}You've read this.{{else}}You have not read this.{{/if}}
	</button>
    <button class="delete-button" data-id="{{id}}">Delete</button>
</li>