<div class="card">
    <div class="card-header">
        <h4>{{title}}</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h5 class="card-title">Author</h5>
                <p class="card-text">{{author}}</p>

                <h5 class="card-title">Genre</h5>
                <p class="card-text">{{genre}}</p>
            </div>
            <div class="col-6">
                <h5 class="card-title">Year</h5>
                <p class="card-text">{{year}}</p>

                <h5 class="card-title">Pages</h5>
                <p class="card-text">{{pages}}</p>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-12">
                <h5 class="card-title">Notes</h5>
                <p class="card-text">{{userNotes}}</p>
            </div>
        </div>
        <button class="btn-danger btn-sm" id="trash" data-id="{{id}}" data-bookedIt="{{bookedIt}}">
            {{#if bookedIt}}<i class="fas fa-book-reader"></i>{{else}}{{/if}}
        </button>
    </div>
</div>
